#########################
# Folders to ignore
#########################
_RawFiles
_site
_source/assets/**
public_html/**
src/dist
vendor
node_modules
tests
bower_components

sftp-config*.json
temp
cache

#########################
# Numerous always-ignore extensions
#########################
*.log
*.sql
*.zip
*.sublime-workspace
