#########################
# Folders to ignore
#########################
_RawFiles
_site
_source
vendor
node_modules
tests
bower_components

sftp-config*.json
temp
cache

#########################
# Numerous always-ignore extensions
#########################
*.log
*.sql
*.zip
*.sublime-workspace


public
.env*
.idea
package-lock.json