
<!DOCTYPE html>
<html lang="pt_BR">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Adriano Rosa">

    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-precomposed.png">
    <link rel="icon" href="/assets/ico/favicon.png">

    <title>Home | </title>

    <!-- application core -->
    <link rel="stylesheet" href="/assets/css/application-style.css"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.min.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>


    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Adriano Rosa</a>
        </div>
        <nav class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/index.html">Home</a></li>
            <li class="active"><a href="/post.html">Blog</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav><!--/.nav-collapse -->
      </div>
    </div>
    <!-- /.header -->

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>

      <div class="row">

          <div class="col-sm-8 content">

              <article class="post">
  <header class="post-header">
    <h2 class="post-title"><a href="#">Title</a></h2>
    <p class="post-meta">
      <time class="post-time" datetime="">date</time> - <span class="author-name"><a href="#" rel="author">Autor</a></span>
    </p>
  </header>

  <section class="post-content">
    <p>post content</p>
  </section>
</article><!-- ./article -->


              <nav class="pagination" role="pagination">
                <ul class="pager">
                  <li><a href="#">Previous</a></li>
                  <li><a href="#">Next</a></li>
                </ul>
              </nav><!-- /.Pagination -->

          </div><!-- /.blog-main -->


<aside class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset author-brief">
    <h4>About</h4>
    <p>
      Etiam porta <em>sem malesuada magna</em> mollis euismod.consectetur. <hr>
      <ul>
        <li><a href="#"><i class="fa fa-github"></i> <span class="hide-text">GitHub</span></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i> <span class="hide-text">Twitter</span></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i> <span class="hide-text">Facebook</span></a></li>
      </ul>
    </p>

  </div>
  <div class="sidebar-module">
    <h4>Archives</h4>
    <ol class="list-unstyled">
      <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
      <li><a href="#">January 2014</a></li>
      <li><a href="#">December 2013</a></li>
      <li><a href="#">November 2013</a></li>
      <li><a href="#">October 2013</a></li>
      <li><a href="#">September 2013</a></li>
      <li><a href="#">August 2013</a></li>
      <li><a href="#">July 2013</a></li>
      <li><a href="#">June 2013</a></li>
      <li><a href="#">May 2013</a></li>
      <li><a href="#">April 2013</a></li>
    </ol>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
    </ol>
  </div>
</aside><!-- /.blog-sidebar -->


      </div><!-- /.row -->

    </div><!-- /.container -->



    <footer class="blog-footer">
      <p>Adriano Rosa - Web Developer</p>
      <ol class="list-unstyled">
        <li><a href="#"><i class="fa fa-github"></i> GitHub</a></li>
        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
      </ol>
      <small>&copy; 2005 - 2014</small>
    </footer>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>


  </body>
</html>