
              <nav class="pagination" role="pagination">
                <ul class="pager">
              {% if paginator.previous_page %}

                {% if paginator.previous_page == 1 %}
                  <li class="prev"><a href="{{ site.blog_url }}/" title="Página 1">&lsaquo; Página 1</a></li>
                {% else %}
                  <li class="prev"><a href="{{ site.blog_url }}/page/{{ paginator.previous_page }}">&lsaquo; Página {{ paginator.previous_page }}</a></li>
                {% endif %}

              {% else %}
                <li class="prev disabled"><a href="javascript:;" title="Página inicial">Página inicial</a></li>
              {% endif %}

              {% if paginator.next_page %}
                  <li class="next"><a href="{{ site.blog_url }}/page/{{ paginator.next_page }}" title="Página {{ paginator.next_page }}">Página {{ paginator.next_page }} &rsaquo;</a></li>
              {% endif %}
                </ul>
              </nav><!-- /.Pagination -->
